<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-em-datacollection"
        version="1.8.10">

  <name>DataCollection</name>
  <description>Background data collection FTW! This is the part that I really
    spent time on. </description>
  <author>K. Shankari (shankari@eecs.berkeley.edu)</author>
  <license>Modified BSD license</license>

  <engines>
    <engine name="cordova" version=">=3.6.0"/>
    <engine name="cordova-android" version=">=7.0.0"/>
  </engines>

  <asset src="www/ui/ionic/templates/main-collect-settings.html" target="templates/control/main-collect-settings.html"/>
  <asset src="www/ui/ionic/js/collect-settings.js" target="js/control/collect-settings.js"/>

  <js-module src="www/datacollection.js" name="datacollection">
    <clobbers target="cordova.plugins.BEMDataCollection" />
  </js-module>

  <!--
  <js-module src="www/ui/ionic/js/collect-settings.js" name="collect-settings">
  </js-module>
  -->

  <!--
    Dependency checking on iOS does not work well - if the same dependency
    exists in multiple files, it inserts them over and over and finally fails

  <dependency id="edu.berkeley.eecs.emission.cordova.unifiedlogger"
                url="https://github.com/e-mission/cordova-unified-logger.git"/>
  <dependency id="edu.berkeley.eecs.emission.cordova.settings"
                url="https://github.com/e-mission/cordova-connection-settings.git"/>
  <dependency id="edu.berkeley.eecs.emission.cordova.serversync"
                url="https://github.com/e-mission/cordova-server-sync.git"/>
  -->
  <hook type="after_plugin_install" src="hooks/android/addResourcesClassImport.js" />

  <platform name="android">
    <framework src="src/android/e-mission-datacollection.gradle" custom="true" type="gradleReference" />

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="DataCollection">
        <param name="android-package" value="edu.berkeley.eecs.emission.cordova.tracker.DataCollectionPlugin"/>
        <param name="onload" value="true"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
        <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
        <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
        <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />
        <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
        <!-- COARSE_LOCATION obfuscates the location to a city block, change to FINE_LOCATION for accuracy -->
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
        <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
        <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
        <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <receiver
            android:name="edu.berkeley.eecs.emission.cordova.tracker.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>
        <receiver
            android:name="edu.berkeley.eecs.emission.cordova.tracker.location.TripDiaryStateMachineReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="local.transition.initialize"></action>
                <action android:name="local.transition.exited_geofence"></action>
                <action android:name="local.transition.stopped_moving"></action>
                <action android:name="local.transition.stop_tracking"></action>
                <action android:name="local.transition.start_tracking"></action>
                <action android:name="local.transition.ble_beacon_found"></action>
                <action android:name="local.transition.ble_beacon_lost"></action>
                <action android:name="local.transition.tracking_error"></action>
            </intent-filter>
        </receiver>
        <service
		    android:name="edu.berkeley.eecs.emission.cordova.tracker.location.ActivityRecognitionChangeIntentService"
		    android:enabled="true"
		    android:exported="false">
		</service>
        <service
		    android:name="edu.berkeley.eecs.emission.cordova.tracker.location.OPGeofenceExitActivityIntentService"
		    android:enabled="true"
		    android:exported="false">
		</service>
        <service
            android:name="edu.berkeley.eecs.emission.cordova.tracker.location.TripDiaryStateMachineService"
            android:enabled="true"
            android:exported="false">
        </service>
        <service
            android:name="edu.berkeley.eecs.emission.cordova.tracker.location.TripDiaryStateMachineServiceOngoing"
            android:enabled="true"
            android:exported="false">
        </service>
        <service
            android:name="edu.berkeley.eecs.emission.cordova.tracker.location.TripDiaryStateMachineForegroundService"
            android:enabled="true"
            android:foregroundServiceType="location|health"
            android:exported="false">
        </service>
        <service
		    android:name="edu.berkeley.eecs.emission.cordova.tracker.location.GeofenceExitIntentService"
		    android:enabled="true"
		    android:exported="false">
		</service>
		<service
		    android:name="edu.berkeley.eecs.emission.cordova.tracker.location.LocationChangeIntentService"
		    android:enabled="true"
		    android:exported="false">
		</service>
		<service
		    android:name="edu.berkeley.eecs.emission.cordova.tracker.location.actions.GeofenceLocationIntentService"
		    android:enabled="true"
		    android:exported="false">
		</service>
    <service
		    android:name="edu.berkeley.eecs.emission.cordova.tracker.bluetooth.BluetoothService"
		    android:enabled="true"
		    android:exported="false">
		</service>
    <service
		    android:name="edu.berkeley.eecs.emission.cordova.tracker.bluetooth.BluetoothMonitoringService"
		    android:enabled="true"
		    android:exported="false">
		</service>
    </config-file>

    <framework src="com.google.code.gson:gson:2.10.1"/>
    <framework src="com.google.android.gms:play-services-location:$LOCATION_VERSION"/>
    <preference name="LOCATION_VERSION" default="21.0.1"/>
    <framework src="androidx.core:core:$ANDROIDX_CORE_VERSION"/>
    <preference name="ANDROIDX_CORE_VERSION" default="1.8.0"/>
    <framework src="androidx.work:work-runtime:$ANDROIDX_WORK_VERSION"/>
    <preference name="ANDROIDX_WORK_VERSION" default="2.7.1"/>

    <source-file src="src/android/DataCollectionPlugin.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker"/>
    <source-file src="src/android/BootReceiver.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker"/>
    <source-file src="src/android/Constants.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker"/>
    <source-file src="src/android/ExplicitIntent.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker"/>
    <source-file src="src/android/GooglePlayChecker.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker"/>
    <source-file src="src/android/ConfigManager.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker"/>
    <source-file src="src/android/location/ActivityRecognitionChangeIntentService.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/location"/>
    <source-file src="src/android/location/OPGeofenceExitActivityIntentService.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/location"/>
    <source-file src="src/android/location/OPGeofenceWalkExitWorker.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/location"/>
    <source-file src="src/android/location/ForegroundServiceComm.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/location"/>
    <source-file src="src/android/location/GeofenceExitIntentService.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/location"/>
    <source-file src="src/android/location/LocationChangeIntentService.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/location"/>
    <source-file src="src/android/location/TripDiaryStateMachineReceiver.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/location"/>
    <source-file src="src/android/location/TripDiaryStateMachineService.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/location"/>
    <source-file src="src/android/location/TripDiaryStateMachineServiceOngoing.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/location"/>
    <source-file src="src/android/location/TripDiaryStateMachineForegroundService.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/location"/>
    <source-file src="src/android/location/actions/ActivityRecognitionActions.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/location/actions"/>
    <source-file src="src/android/location/actions/GeofenceActions.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/location/actions"/>
    <source-file src="src/android/location/OPGeofenceExitActivityActions.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/location/actions"/>
    <source-file src="src/android/location/actions/GeofenceLocationIntentService.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/location/actions"/>
    <source-file src="src/android/location/actions/LocationTrackingActions.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/location/actions"/>
    <source-file src="src/android/sensors/BatteryPollSensor.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/sensors"/>
    <source-file src="src/android/sensors/BatteryUtils.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/sensors"/>
    <source-file src="src/android/sensors/PollSensor.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/sensors"/>
    <source-file src="src/android/sensors/PollSensorManager.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/sensors"/>
    <source-file src="src/android/verification/SensorControlConstants.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/verification"/>
    <source-file src="src/android/verification/SensorControlChecks.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/verification"/>
    <source-file src="src/android/verification/SensorControlBackgroundChecker.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/verification"/>
    <source-file src="src/android/verification/SensorControlForegroundDelegate.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/verification"/>
    <source-file src="src/android/wrapper/Metadata.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/wrapper"/>
    <source-file src="src/android/wrapper/SimpleLocation.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/wrapper"/>
    <source-file src="src/android/wrapper/MotionActivity.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/wrapper"/>
    <source-file src="src/android/wrapper/Transition.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/wrapper"/>
    <source-file src="src/android/wrapper/LocationTrackingConfig.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/wrapper"/>
    <source-file src="src/android/wrapper/Battery.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/wrapper"/>
    <source-file src="src/android/wrapper/BluetoothBLE.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/wrapper"/>
    <source-file src="src/android/wrapper/ConsentConfig.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/wrapper"/>
    <source-file src="src/android/wrapper/Timer.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/wrapper"/>
    <source-file src="src/android/wrapper/StatsEvent.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/wrapper"/>
    <source-file src="src/android/bluetooth/BluetoothService.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/bluetooth"/>
    <source-file src="src/android/bluetooth/BluetoothMonitoringService.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/bluetooth"/>
    <resource-file src="res/android/statemachine.xml" target="res/values/statemachine.xml" />
    <resource-file src="res/android/values/dc_strings.xml" target="res/values/dc_strings.xml"/>
  </platform>

  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="DataCollection">
        <param name="ios-package" value="BEMDataCollection" />
        <param name="onload" value="true"/>
      </feature>
    </config-file>

    <config-file target="*-Info.plist" parent="UIBackgroundModes">
        <array>
           <string>remote-notification</string>
           <string>location</string>
           <string>fetch</string>
        </array>
    </config-file>

    <config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
        <string>We use your data to create an automatic trip diary</string>
    </config-file>

    <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
        <string>We use your data to create an automatic trip diary</string>
    </config-file>

    <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
        <string>We use your data to create an automatic trip diary</string>
    </config-file>

    <config-file target="*-Info.plist" parent="NSMotionUsageDescription">
        <string>Our app uses the motion sensors to determine the transportation mode for the sections of your trip</string>
    </config-file>

    <config-file target="*-Info.plist" parent="ITSAppUsesNonExemptEncryption">
        <false/>
    </config-file>

    <config-file target="*-Info.plist" parent="NSBluetoothAlwaysUsageDescription">
      <string>We need Bluetooth access to interact with BLE beacons for the fleet version of the app.</string>
    </config-file>

    <podspec>
      <config>
        <source url="https://cdn.cocoapods.org/"/>
      </config>
      <pods use-frameworks="true">
        <pod name="Bolts/Tasks" spec="~> 1.9.1" />
      </pods>
    </podspec>

    <framework src="CoreLocation.framework"/>

    <header-file src="src/ios/BEMDataCollection.h"/>
    <header-file src="src/ios/BEMAppDelegate.h"/>
    <header-file src="src/ios/BEMRemotePushNotificationHandler.h"/>
    <header-file src="src/ios/ConfigManager.h"/>
    <header-file src="src/ios/Location/DataUtils.h" target-dir="Location"/>
    <header-file src="src/ios/Location/GeofenceActions.h" target-dir="Location"/>
    <header-file src="src/ios/Location/TripDiaryActions.h" target-dir="Location"/>
    <header-file src="src/ios/Location/TripDiaryDelegate.h" target-dir="Location"/>
    <header-file src="src/ios/Location/TripDiaryStateMachine.h" target-dir="Location"/>
    <header-file src="src/ios/Verification/TripDiarySensorControlChecks.h" target-dir="Verification"/>
    <header-file src="src/ios/Verification/SensorControlForegroundDelegate.h" target-dir="Verification"/>
    <header-file src="src/ios/Verification/SensorControlBackgroundChecker.h" target-dir="Verification"/>
    <header-file src="src/ios/Wrapper/Metadata.h" target-dir="Wrapper"/>
    <header-file src="src/ios/Wrapper/MotionActivity.h" target-dir="Wrapper"/>
    <header-file src="src/ios/Wrapper/SimpleLocation.h" target-dir="Wrapper"/>
    <header-file src="src/ios/Wrapper/TimeQuery.h" target-dir="Wrapper"/>
    <header-file src="src/ios/Wrapper/Transition.h" target-dir="Wrapper"/>
    <header-file src="src/ios/Wrapper/LocationTrackingConfig.h" target-dir="Wrapper"/>
    <header-file src="src/ios/Wrapper/Battery.h" target-dir="Wrapper"/>
    <header-file src="src/ios/Wrapper/BluetoothBLE.h" target-dir="Wrapper"/>
    <header-file src="src/ios/Wrapper/ConsentConfig.h" target-dir="Wrapper"/>
    <header-file src="src/ios/Wrapper/Timer.h" target-dir="Wrapper"/>
    <header-file src="src/ios/Wrapper/StatsEvent.h" target-dir="Wrapper"/>
    <source-file src="src/ios/BEMDataCollection.m"/>
    <source-file src="src/ios/BEMAppDelegate.m"/>
    <source-file src="src/ios/ConfigManager.m"/>
    <source-file src="src/ios/BEMRemotePushNotificationHandler.m"/>
    <source-file src="src/ios/Location/DataUtils.m" target-dir="Location"/>
    <source-file src="src/ios/Location/GeofenceActions.m" target-dir="Location"/>
    <source-file src="src/ios/Location/TripDiaryActions.m" target-dir="Location"/>
    <source-file src="src/ios/Location/TripDiaryDelegate.m" target-dir="Location"/>
    <source-file src="src/ios/Location/TripDiaryStateMachine.m" target-dir="Location"/>
    <source-file src="src/ios/Verification/TripDiarySensorControlChecks.m" target-dir="Verification"/>
    <source-file src="src/ios/Verification/SensorControlForegroundDelegate.m" target-dir="Verification"/>
    <source-file src="src/ios/Verification/SensorControlBackgroundChecker.m" target-dir="Verification"/>
    <source-file src="src/ios/Wrapper/Metadata.m" target-dir="Wrapper"/>
    <source-file src="src/ios/Wrapper/MotionActivity.m" target-dir="Wrapper"/>
    <source-file src="src/ios/Wrapper/SimpleLocation.m" target-dir="Wrapper"/>
    <source-file src="src/ios/Wrapper/TimeQuery.m" target-dir="Wrapper"/>
    <source-file src="src/ios/Wrapper/Transition.m" target-dir="Wrapper"/>
    <source-file src="src/ios/Wrapper/LocationTrackingConfig.m" target-dir="Wrapper"/>
    <source-file src="src/ios/Wrapper/Battery.m" target-dir="Wrapper"/>
    <source-file src="src/ios/Wrapper/BluetoothBLE.m" target-dir="Wrapper"/>
    <source-file src="src/ios/Wrapper/ConsentConfig.m" target-dir="Wrapper"/>
    <source-file src="src/ios/Wrapper/Timer.m" target-dir="Wrapper"/>
    <source-file src="src/ios/Wrapper/StatsEvent.m" target-dir="Wrapper"/>
    <resource-file src="res/ios/en.lproj/DCLocalizable.strings" target="en.lproj/DCLocalizable.strings"/>
 </platform>
</plugin>
