<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="edu.berkeley.eecs.emission.cordova.datacollection"
        version="0.0.1">

  <name>DataCollection</name>
  <description>Background data collection FTW! This is the part that I really
    spent time on. </description>
  <author>K. Shankari (shankari@eecs.berkeley.edu)</author>
  <license>Modified BSD license</license>

  <engines>
    <engine name="cordova" version=">=3.6.0"/>
  </engines>

  <asset src="www/datacollection.js" target="js/datacollection.js"/>

  <js-module src="www/datacollection.js" name="datacollection">
    <clobbers target="cordova.plugins.BEMDataCollection" />
  </js-module>

  <!--
    Dependency checking on iOS does not work well - if the same dependency
    exists in multiple files, it inserts them over and over and finally fails

  <dependency id="edu.berkeley.eecs.emission.cordova.unifiedlogger"
                url="https://github.com/e-mission/cordova-unified-logger.git"/>
  <dependency id="edu.berkeley.eecs.emission.cordova.settings"
                url="https://github.com/e-mission/cordova-connection-settings.git"/>
  <dependency id="edu.berkeley.eecs.emission.cordova.serversync"
                url="https://github.com/e-mission/cordova-server-sync.git"/>
  -->

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="DataCollection">
        <param name="android-package" value="edu.berkeley.eecs.emission.cordova.tracker.DataCollectionPlugin"/>
        <param name="onload" value="true"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
        <!-- COARSE_LOCATION obfuscates the location to a city block, change to FINE_LOCATION for accuracy -->
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <receiver
            android:name="edu.berkeley.eecs.emission.cordova.tracker.BootReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>
        <receiver
            android:name="edu.berkeley.eecs.emission.cordova.tracker.location.TripDiaryStateMachineReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="local.transition.initialize"></action>
                <action android:name="local.transition.exited_geofence"></action>
                <action android:name="local.transition.stopped_moving"></action>
                <action android:name="local.transition.stop_tracking"></action>
                <action android:name="local.transition.start_tracking"></action>
            </intent-filter>
        </receiver>
        <service
		    android:name="edu.berkeley.eecs.emission.cordova.tracker.location.ActivityRecognitionChangeIntentService"
		    android:enabled="true" 
		    android:exported="false">
		</service>
        <service
            android:name="edu.berkeley.eecs.emission.cordova.tracker.location.TripDiaryStateMachineService"
            android:enabled="true"
            android:exported="false">
        </service>
        <service
            android:name="edu.berkeley.eecs.emission.cordova.tracker.location.TripDiaryStateMachineServiceOngoing"
            android:enabled="true"
            android:exported="false">
        </service>
        <service
		    android:name="edu.berkeley.eecs.emission.cordova.tracker.location.GeofenceExitIntentService"
		    android:enabled="true" 
		    android:exported="false">
		</service>
		<service 
		    android:name="edu.berkeley.eecs.emission.cordova.tracker.location.LocationChangeIntentService"
		    android:enabled="true" 
		    android:exported="false">
		</service>
		<service 
		    android:name="edu.berkeley.eecs.emission.cordova.tracker.location.actions.GeofenceLocationIntentService"
		    android:enabled="true" 
		    android:exported="false">
		</service>
    </config-file>

    <framework src="com.google.code.gson:gson:+"/>
    <framework src="com.google.android.gms:play-services-location:8.3.0"/>

    <source-file src="src/android/DataCollectionPlugin.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker"/>
    <source-file src="src/android/BootReceiver.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker"/>
    <source-file src="src/android/Constants.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker"/>
    <source-file src="src/android/GooglePlayChecker.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker"/>
    <source-file src="src/android/ConfigManager.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker"/>
    <source-file src="src/android/location/ActivityRecognitionChangeIntentService.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/location"/>
    <source-file src="src/android/location/GeofenceExitIntentService.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/location"/>
    <source-file src="src/android/location/LocationChangeIntentService.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/location"/>
    <source-file src="src/android/location/TripDiaryStateMachineReceiver.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/location"/>
    <source-file src="src/android/location/TripDiaryStateMachineService.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/location"/>
    <source-file src="src/android/location/TripDiaryStateMachineServiceOngoing.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/location"/>
    <source-file src="src/android/location/actions/ActivityRecognitionActions.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/location/actions"/>
    <source-file src="src/android/location/actions/GeofenceActions.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/location/actions"/>
    <source-file src="src/android/location/actions/GeofenceLocationIntentService.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/location/actions"/>
    <source-file src="src/android/location/actions/LocationTrackingActions.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/location/actions"/>
    <source-file src="src/android/sensors/BatteryPollSensor.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/sensors"/>
    <source-file src="src/android/sensors/BatteryUtils.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/sensors"/>
    <source-file src="src/android/sensors/PollSensor.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/sensors"/>
    <source-file src="src/android/sensors/PollSensorManager.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/sensors"/>
    <source-file src="src/android/wrapper/Metadata.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/wrapper"/>
    <source-file src="src/android/wrapper/SimpleLocation.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/wrapper"/>
    <source-file src="src/android/wrapper/Transition.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/wrapper"/>
    <source-file src="src/android/wrapper/LocationTrackingConfig.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/wrapper"/>
    <source-file src="src/android/wrapper/Battery.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/wrapper"/>
    <source-file src="src/android/wrapper/ConsentConfig.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/wrapper"/>
    <source-file src="src/android/wrapper/Timer.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/wrapper"/>
    <source-file src="src/android/wrapper/StatsEvent.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/wrapper"/>
    <resource-file src="res/android/statemachine.xml" target="res/values/statemachine.xml" />
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/*">
      <feature name="DataCollection">
        <param name="ios-package" value="BEMDataCollection" />
        <param name="onload" value="true"/>
      </feature>
    </config-file>

    <config-file target="*-Info.plist" parent="UIBackgroundModes">
        <array>
           <string>remote-notification</string>
           <string>location</string>
           <string>fetch</string>
        </array>
    </config-file>

    <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
        <string>Our app would like to collect your location information in the background</string>
    </config-file>

    <config-file target="*-Info.plist" parent="ITSAppUsesNonExemptEncryption">
        <false/>
    </config-file>

    <framework src="src/ios/frameworks/Parse.framework" custom="true" />
    <framework src="src/ios/frameworks/Bolts.framework" custom="true" />

    <framework src="CoreLocation.framework"/>
    <framework src="Accounts.framework"/>
    <!-- Imported by parse, can remove once we move away from Parse -->
    <framework src="AudioToolbox.framework"/>
    <framework src="StoreKit.framework"/>
    <framework src="Social.framework"/>

    <header-file src="src/ios/BEMDataCollection.h"/>
    <header-file src="src/ios/BEMAppDelegate.h"/>
    <header-file src="src/ios/BEMRemotePushNotificationHandler.h"/>
    <header-file src="src/ios/ConfigManager.h"/>
    <header-file src="src/ios/Location/DataUtils.h" target-dir="Location"/>
    <header-file src="src/ios/Location/GeofenceActions.h" target-dir="Location"/>
    <header-file src="src/ios/Location/TripDiaryActions.h" target-dir="Location"/>
    <header-file src="src/ios/Location/TripDiaryDelegate.h" target-dir="Location"/>
    <header-file src="src/ios/Location/TripDiaryStateMachine.h" target-dir="Location"/>
    <header-file src="src/ios/Wrapper/Metadata.h" target-dir="Wrapper"/>
    <header-file src="src/ios/Wrapper/MotionActivity.h" target-dir="Wrapper"/>
    <header-file src="src/ios/Wrapper/SimpleLocation.h" target-dir="Wrapper"/>
    <header-file src="src/ios/Wrapper/TimeQuery.h" target-dir="Wrapper"/>
    <header-file src="src/ios/Wrapper/Transition.h" target-dir="Wrapper"/>
    <header-file src="src/ios/Wrapper/LocationTrackingConfig.h" target-dir="Wrapper"/>
    <header-file src="src/ios/Wrapper/Battery.h" target-dir="Wrapper"/>
    <header-file src="src/ios/Wrapper/ConsentConfig.h" target-dir="Wrapper"/>
    <header-file src="src/ios/Wrapper/Timer.h" target-dir="Wrapper"/>
    <header-file src="src/ios/Wrapper/StatsEvent.h" target-dir="Wrapper"/>
    <source-file src="src/ios/BEMDataCollection.m"/>
    <source-file src="src/ios/BEMAppDelegate.m"/>
    <source-file src="src/ios/ConfigManager.m"/>
    <source-file src="src/ios/BEMRemotePushNotificationHandler.m"/>
    <source-file src="src/ios/Location/DataUtils.m" target-dir="Location"/>
    <source-file src="src/ios/Location/GeofenceActions.m" target-dir="Location"/>
    <source-file src="src/ios/Location/TripDiaryActions.m" target-dir="Location"/>
    <source-file src="src/ios/Location/TripDiaryDelegate.m" target-dir="Location"/>
    <source-file src="src/ios/Location/TripDiaryStateMachine.m" target-dir="Location"/>
    <source-file src="src/ios/Wrapper/Metadata.m" target-dir="Wrapper"/>
    <source-file src="src/ios/Wrapper/MotionActivity.m" target-dir="Wrapper"/>
    <source-file src="src/ios/Wrapper/SimpleLocation.m" target-dir="Wrapper"/>
    <source-file src="src/ios/Wrapper/TimeQuery.m" target-dir="Wrapper"/>
    <source-file src="src/ios/Wrapper/Transition.m" target-dir="Wrapper"/>
    <source-file src="src/ios/Wrapper/LocationTrackingConfig.m" target-dir="Wrapper"/>
    <source-file src="src/ios/Wrapper/Battery.m" target-dir="Wrapper"/>
    <source-file src="src/ios/Wrapper/ConsentConfig.m" target-dir="Wrapper"/>
    <source-file src="src/ios/Wrapper/Timer.m" target-dir="Wrapper"/>
    <source-file src="src/ios/Wrapper/StatsEvent.m" target-dir="Wrapper"/>
  </platform>
</plugin>
