<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.berkeley.eecs.cfc_tracker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>

    <application>
        <service
            android:name="edu.berkeley.eecs.cfc_tracker.test.location.SendMockLocationService"
            android:enabled="true">
        </service>
    </application>

</manifest>
