<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CURR_STATE</key>
	<string></string>
	<key>STATE_START</key>
	<string></string>
	<key>STATE_WAITING_FOR_TRIP_START</key>
	<string></string>
	<key>STATE_ONGOING_TRIP</key>
	<string></string>
	<key>TRANSITION_INITIALIZE</key>
	<string></string>
	<key>TRANSITION_EXITED_GEOFENCE</key>
	<string></string>
	<key>TRANSITION_STOPPED_MOVING</key>
	<string></string>
	<key>TRANSITION_STOP_TRACKING</key>
	<string></string>
</dict>
</plist>
